Package: tasci-dbgsym
Source: tasci
Version: 0.1.0-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Stefan Tasic <stefan@example.com>
Installed-Size: 56
Depends: tasci (= 0.1.0-2)
Section: debug
Priority: optional
Description: debug symbols for tasci
Build-Ids: 0fecaad431fbb08b3e079e5b9f20813ba02abf1f
