Package: tasci-dbgsym
Package-Type: ddeb
Source: tasci
Version: 0.1.0-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Stefan Tasic <stefan@example.com>
Installed-Size: 88
Depends: tasci (= 0.1.0-2)
Section: debug
Priority: optional
Description: debug symbols for tasci
Build-Ids: 74894554aed65190e7797e274f7b3215a2efa525
